<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.CommentMapper">
    
    <!-- 分页查询评论列表 -->
    <select id="selectCommentPage" resultType="com.blog.model.entity.Comment">
        SELECT c.*, a.title as article_title
        FROM comment c
        LEFT JOIN article a ON c.article_id = a.id
        <where>
            c.is_deleted = 0
            <if test="query.articleId != null">
                AND c.article_id = #{query.articleId}
            </if>
            <if test="query.userId != null">
                AND c.user_id = #{query.userId}
            </if>
            <if test="query.status != null">
                AND c.status = #{query.status}
            </if>
            <if test="query.keyword != null and query.keyword != ''">
                AND (
                    c.content LIKE CONCAT('%', #{query.keyword}, '%')
                    OR a.title LIKE CONCAT('%', #{query.keyword}, '%')
                )
            </if>
        </where>
        ORDER BY c.create_time DESC
    </select>
    
</mapper> 